body {
  font-size: 75%;
}

html,
body,
#root,
.App {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.Schema {
  flex: 1;
}

button.pushed {
  background-color: cyan;
}

.Settings {
  flex: 2;
  overflow-y: auto;
}

.Config {
  flex: 1;
}

.Editor {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.Editor span {
  flex: 1;
  margin-right: 10px;
  text-align: right;
  white-space: nowrap;
}

.Editor:has(> .RequiredTitle) span {
  color: red;
}

.StringEditor {
  flex: 3;
  height: 2em;
  text-align: right;
}

.IntEditor {
  flex: 3;
}

.IntEditor .rw-widget-input {
    text-align: right;
}

.ArrayEditor {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.ArrayEditor li {
  border: 2px solid cyan;
}

.ArrayItem {
  display: flex;
  flex-direction: row;
}

.AddButton {
  height: 2em;
  width: 30%;
  align-self: center;
}

.EnumEditor {
  flex: 3;
}

.ObjectEditor {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.BooleanEditor.rw-dropdown-list {
  flex: 3;
}
